<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Input Page </title>
    <link rel = "stylesheet" href ="../static/Css/style.css" th:href="@{/Css/style.css}">
</head>
<body>
<h1>Input </h1>
<form action="/submit" method="post">
    <label for="processorName">Processor Name:</label><br>
    <input type="text" id="processorName" name="processorName" required><br><br>

    <label >Manufacturer:</label><br>
    <input type="radio" id="intel" name="manufacturer" value="Intel" checked> Intel
    <input type="radio" id="amd" name="manufacturer" value="AMD"> AMD
    <input type="radio" id="apple" name="manufacturer" value="Apple"> Apple<br><br>

    <label for="windows11Ready">Windows 11 Ready:</label>
    <input type="checkbox" id="windows11Ready" name="windows11Ready"><br><br>
    <br><br>
    <input type="submit" value="Submit">
</form>
<br>

<footer>Sheridan College - Simranjeet Singh</footer>
</body>
</html>