<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Input Page </title>
    <link rel = "stylesheet" href ="../static/Css/style.css" th:href="@{/Css/style.css}">
</head>
<body>
<h1>Input </h1>
<form action="/submit" th:action="@{/submit}" >
    <label for="processorName">Processor Name:</label><br>
    <input type="text" id="processorName"   ><br><br>

    <label >Manufacturer:</label><br>
    <input type="radio"   name="manufacturer" value="Intel" checked> Intel
    <input type="radio"   name="manufacturer" value="AMD"> AMD
    <input type="radio"  name="manufacturer" value="Apple"> Apple<br><br>

    <label for="windows11Ready">Windows 11 Ready:</label>
    <input type="checkbox" id="windows11Ready"  ><br><br>
    <br><br>
    <input type="submit" value="Submit">
</form>
<br>


<footer>Sheridan College - Simranjeet Singh</footer>
<script>
    const form = document.querySelector("form");
    form.addEventListener("submit", function(event) {
        event.preventDefault();
        window.location.href = form.action;
    });
</script>
</body>
</html>