<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Output Page</title>
  <link rel = "stylesheet" href ="../static/Css/mystyle.css" th:href="@{/Css/mystyle.css}">
</head>
<body>
<h1>Output Page</h1>
<p>Processor Name: <span th:text="${processorName}"></span></p>
<p>Manufacturer: <span th:text="${manufacturer}"></span></p>
<p>Window 11 Ready: <span th:text="${windows11Ready}"></span></p>

<br>
<form action="/" method="get">
  <button type="submit">Back</button>
</form>
<br><br>
<footer>Sheridan College - Simranjeet Singh</footer>
</body>
</html>
